.swiper.testimonial-slider{
    padding: 72px 15px 25px;
}
.quote-item2 .quote-content {
    margin-top: 55px !important;
}

.quote-item2 .quote-content:before{
    margin: 0 auto 30px;
    width: 45px;
}
#testimonial .container{
    padding-bottom: 0 !important;
}
#testimonial .swiper-button-prev{
    left: -40px !important;
    color: #1d1d1d;
}
#testimonial .swiper-button-next{
    right: -40px !important;
    color: #1d1d1d;
}
.gmap_canvas{
    height: 900px !important;
    width: 100% !important;
}
.gmap_canvas iframe{
    width: 100% !important;
    height: 100% !important;
}
.mapouter {
    display: block !important;
}
.page_title{
    margin-bottom: 40px;
}
.about-infos li{
    list-style: none;
}
.icon-box:hover i {
    color: white !important;
}
.about-infos ul {
    margin: 0;
    padding: 0;
}
.icon-box:hover .service-title {
    color: white !important;
}
form .text-danger{
    text-align: left !important;
    display: block !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}
.contact-form-respond{
    display: none;
}
.error {
    border: 1px solid #dc3545 !important;
}
.map iframe{
    width: 100% !important;
    height: 400px !important;
}
.single-service .item-content {
   padding-top: 20px !important;
   padding-bottom: 50px !important;
}
.service-item img {
    height: 290px;
    object-fit: cover;
}
img.single-service-img {
    height: 400px;
    object-fit: cover;
}